.login-form {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin: 60px auto;
  padding: 40px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
}

.login-form span {
  display: block;
  font-size: large;
  font-weight: 500;
}

.login-form button {
  padding: 8px 0;

  margin-top: 10px;
}

.login-form input {
  width: 98%;
  height: 25px;
}
