.create-form {
  max-width: 600px;
}
.create-form {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin: 60px auto;
  padding: 40px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
}

.create-form span {
  display: block;
  font-size: large;
  font-weight: 500;
}

.create-form button {
  padding: 8px 10;
  margin-top: 10px;
}

.create-form input {
  width: 98%;
  height: 25px;
}

.create-form label {
  display: block;
  margin: 24px auto;
}
.create-form label span {
  display: block;
  margin-bottom: 6px;
}
.create-form input,
.create-form textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.create-form textarea {
  min-height: 160px;
}
