.navbar {
  width: 100%;
  margin-left: 0;
  padding: 20px 0px 20px 0px;
  box-sizing: border-box;
  margin-bottom: 80px;
  display: block;
  position: sticky;
  top: 0;
  /* height: 10vh; */
  background-color: var(--primary-color);
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  font-size: 18px;
  text-shadow: #333;
  font-weight: 700;
  margin-right: 40px;
}
.navbar .logo {
  font-weight: bold;
  color: var(--heading-color);
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  margin-right: auto;
  padding-left: 30px;
}
.navbar .logo img {
  margin-right: 10px;
  filter: invert(25%);
  width: 36px;
  margin-top: -8px;
}
.navbar a {
  color: #333;
  text-decoration: none;
  margin-right: 20px;
}
